.nav-bar{
    background-color: whitesmoke;
}

.nav-brand{
    font-family: Roboto;
}

.navBrandName{
    font-weight: normal;
    color: #B32121;
}

.nav{
    font-family: Roboto;
    font-size: 11pt;
    font-weight: normal;
    margin: 2px;
}

.nav-link-name{
    color: black;
}