.coll{
    margin-left: -2%;
    width: 15%;
    padding-top: 15%;
    background-color: #C4C4C4;
}

.rowstyling{
    padding-left: 40%;
}

.navName{
    color: black;
    font-family: Roboto;
    font-size: 12pt;
}